[Desktop Entry]
Name=APPLICATION_NAME
Comment=APPLICATION_DESCRIPTION
Exec="/opt/my-cash/bin/My Cash"
Icon=/opt/my-cash/lib/My_Cash.png
Terminal=false
Type=Application
Categories=Office
StartupWMClass=app.MainApplication
